<header>
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
</header>
<main>
    <section *ngIf='selectedStudent'>
        <h3>{{editpls}} {{selectedStudent.firstname}} {{selectedStudent.lastname}}</h3>
        <ul>
            <li>{{firstname}} <input [(ngModel)]='selectedStudent.firstname'/></li>
            <li>{{lastname}} <input [(ngModel)]='selectedStudent.lastname'/></li>
        </ul>
    </section>
    <section *ngFor='let student of studentList'>
        <show-student [student]='student' (sendOnselect)='onSelect($event)'></show-student>
    </section>
    <section>
        <add-student [newStudent]='newStudent' (sendNewStudentData)='addStudent($event)' ></add-student>
    </section>
</main>